body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
button {
  height: 40px;
  width: 150px;
  padding: 10px 10px 10px;
  color: black;
  font-weight: bold;
  border-radius: 8px;
  border: none;
  background-color: aquamarine;
  font-family: 'Sansita Swashed', cursive;;
}
button:hover {
  height: 80px;
  width: 200px;
  color: black;
  font-weight: bold;
  font-size: 20px;
  border-radius: 16px;
  background-color: lightgreen;
}
